.flex-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  margin-top: 0px 10px;
}

.flex-item-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-item-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.matInputField {
  width: 100%;
}

button {
  margin: 5px;
}
