<div class="flex-container">
  <div class="flex-item-column">
    <mat-form-field class="matInputField" appearance="fill">
      <mat-label>Name</mat-label>
      <!-- 
        Regex to only have characters.
        https://stackoverflow.com/questions/3617797/regex-to-match-only-letters 
      -->
      <input
        matInput
        type="text"
        pattern="[a-zA-Z]+"
        placeholder="Payer's Name"
        [(ngModel)]="_inputName"
        autocomplete="off"
      />
    </mat-form-field>
    <mat-form-field class="matInputField" appearance="fill">
      <mat-label>Price</mat-label>
      <input
        matInput
        type="text"
        placeholder="Total cost"
        [(ngModel)]="_inputPrice"
        autocomplete="off"
        pattern="\d*" maxlength="8"
      />
    </mat-form-field>
    <mat-form-field class="matInputField" appearance="fill">
      <mat-label>Card Number</mat-label>
      <input
        matInput
        type="text"
        placeholder="Credit card number"
        [(ngModel)]="_inputCardNumber"
        autocomplete="off"
        pattern="\d*" maxlength="16"
      />
    </mat-form-field>
  </div>
  <div class="flex-item-row" *ngIf="!modelPopupStatus">
    <button mat-raised-button color="primary" (click)="onAddPaymentClick()">
      Add Payment
    </button>
    <button mat-raised-button (click)="onClearClick()">Clear</button>
  </div>
  <div class="flex-item-row" *ngIf="modelPopupStatus">
    <button mat-raised-button color="accent" (click)="onUpdateClick()">
      Update Payment
    </button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </div>
  <div class="flex-item-row">
    <div class="errormessage">{{ errorMessage }}</div>
  </div>
</div>
