<div class="flex-global-container">
  <div class="flex-global-container-border">
    <div class="flex-global-header-item">
      <mat-label>List Products</mat-label>
      <img
        matTooltip="Dashboard that mocks listing products added from a shopping cart."
        matTooltipClass="mat-tooltip-header"
        class="logo-info"
        src="../../../assets/Icons/circle-info-solid.svg"
      />
    </div>
    <div class="flex-global-item-row">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Ex# 2: Directives </mat-panel-title>
          <mat-panel-description> Requirements </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <ul>
            <span class="subHeading">Original Requirement</span>
            <li class="formatListTag">
              Display a catalog of products available.
            </li>
            <li class="formatListTag">
              Have a provision to add new products to the existing catalog.
            </li>
            <li class="formatListTag">
              Implement a toggle indicator control. This indicator's behaviour
              would be to hide or reveal itself. Every alternate item will hide
              the toggle or reveal itself otherwise.
            </li>
            <li class="formatListTag">
              When the product count reaches 10 items and beyond, add a new
              style to the row using the - Angular's 'ngClass' attribute
              directive.
            </li>
            <li class="formatListTag">
              When the product reaches 13 items and beyond, add a new style to
              the row using the - Angular's 'ngStyle' attribute directive as
              well.
            </li>
          </ul>
        </ul>
      </mat-expansion-panel>
    </div>

    <div class="flex-global-item-row">
      <mat-form-field class="matInputField" appearance="fill">
        <mat-label>Add a Product</mat-label>
        <input
          matInput
          placeholder="Add a new product"
          [(ngModel)]="productName"
        />
      </mat-form-field>
      <div
        class="button"
        (click)="onAddProductClick()"
        [ngClass]="{ disableButton: productName.length == 0 }"
      >
        Add
      </div>
      <!--[ngClass]="{disableButton: itemsInTheCart == 5}"-->
    </div>
    <div class="flex-global-item-row">
      <div class="toggleContainer" [hidden]="isToggleVisible">
        Toggle Control
      </div>
    </div>
    <div class="flex-global-item-row">
      <div class="errormessage">{{ errorMessage }}</div>
    </div>

    <div class="flex-global-sub-header-item">
      <span>Product Catalog</span>
    </div>

    <div
      class="flex-global-item-column"
      *ngFor="let product of productCollection; index as i"
      [ngClass]="{ rowBackgroundColor: i >= 9 }"
      [ngStyle]="{ 'font-weight': i >= 12 ? 'bold' : 'normal' }"
    >
      {{ i + 1 }}.{{ product }}
    </div>
  </div>
</div>
