.flex-body-container {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.flex-body-header-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-body-item-row {
  display: flex;
  justify-content: center;
  width: 90%;
  .mat-form-field {
    margin-left: 5px;
  }
}

.flex-body-item-column {
  flex-direction: column;
  border-radius: 5px;
  margin: 10px;
  padding: 2px 0px 2px 20px;
}

.flex-body-header-cell-left {
  margin-left: 20px;
  width: 50%;
}

.flex-body-header-cell-right {
  margin-right: 20px;
  width: 50%;
  text-align: right;
}

.scrollable-container {
  max-height: 250px;
  overflow-y: auto;
  align-items: center;
}

h3 {
  line-height: 0px;
}

table {
  width: 100%;
  th {
    //Provide space between columns
    padding: 20px;
  }
  td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
}

.flex-cell-row {
  display: flex;
  padding: 12px 12px 2px 10px;
  align-items: center;
}

button {
  margin-left: 10px;
}

.matInputField {
  width: 100%;
}

::ng-deep .mat-tooltip {
  font-size: 15px;
  background-color: #b71c1c;
}
