.flex-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  margin-top: 0px 10px;
}

.flex-item-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-item-row {
  display: flex;
  align-items: center; //Vertical
  width: 100%;
}

.matInputField {
  width: 100%;
}

.matCardNumberField {
  width: 80%;
  padding: 5px;
}

button {
  margin: 5px;
}

.mponecardimage {
  margin-left: 10px;
}

.errorInputDisplay {
  background-color: rgba($color: #d17575, $alpha: 1);
  color: rgba($color: #ffffff, $alpha: 1);
  padding: 3px;
  border: solid 1px red;
  border-radius: 20px;
  text-align: center;
}
