<div class="flex-global-container">
  <div class="flex-global-container-border">
    <div class="flex-global-header-item">
      <mat-label>Ticket Reservation System</mat-label>
      <img
        matTooltip="It is a dashboard that mocks a ticket reservation system. The user has to log in through a mobile number before reserving the tickets by adding one or more passengers."
        class="logo-info"
        matTooltipClass="mat-tooltip-header"
        src="../../../assets/Icons/circle-info-solid.svg"
        alt="information icon"
      />
    </div>
    <div class="flex-global-item-row">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Ex# 7: Ticket Reservation System </mat-panel-title>
          <mat-panel-description> Requirements </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <ul>
            <span class="subHeading">Reservation Component</span>
            <li class="formatListTag">
              This component will accept input from the user to add passengers
              dynamically to reserve tickets using the concept `FormArray` and `FormBuilder`.
            </li>
            <li class="formatListTag">
              Add a new passenger using the 'Add Passenger' button to accept their name and age.
            </li>
            <li class="formatListTag">
              Confirm the booking using the 'Book Tickets' button. Additionally,
              display the ticket details as a summary.
            </li>
            <li class="formatListTag">
              To rebook tickets, add a new button called 'Make new reservations'
            </li>
            <li class="formatListTag">
              Limit a ticket to have a maximum of 3 passengers.
            </li>
            <li class="formatListTag">
              Remove each passenger while booking using the 'Remove' button.
            </li>
            <span class="subHeading">Login Component</span>
            <li class="formatListTag">
              This component will accept a mobile number and then use the OTP as
              a password.
            </li>
            <li class="formatListTag">Accept the mobile number of the user.</li>
            <li class="formatListTag">
              Dynamically create the OTP textbox that accepts a static
              four-digit OTP number '9958' from the user.
            </li>
            <li class="formatListTag">
              Please use the reactive forms to validate the control that accepts
              the mobile number and the OTP.
            </li>
            <li class="formatListTag">
              Dynamically accept the passenger details using the concept -
              FormArray.
            </li>
          </ul>
        </ul>
      </mat-expansion-panel>
    </div>
    <div class="flex-global-item-column">
      <app-ex7ticketlogin></app-ex7ticketlogin>
    </div>
  </div>
</div>
