<div class="flex-head-container" id="applicationHeaderContainer">
  <div class="flex-head-border">
    <div class="flex-head-item">
      <h2>Credoz Angular Exercises</h2>
    </div>
  </div>
</div>
<div class="flex-body-container" id="applicationBodyContainer">
  <div class="flex-nav-container">
    <div class="flex-nav-item">
      <a class="nav-anchor" routerLink="/exonebinding">Ex# 1: Binding</a>
    </div>
    <div class="flex-nav-item">
      <a class="nav-anchor" routerLink="/extwodirective">Ex# 2: Directives</a>
    </div>
    <div class="flex-nav-item">
      <a class="nav-anchor" routerLink="/exthreengswitch"
        >Ex# 3: ngSwitch Directive</a
      >
    </div>
    <div class="flex-nav-item">
      <a class="nav-anchor" routerLink="/miniprojectone"
        >Ex# 4: Mini Project One</a
      >
    </div>
    <div class="flex-nav-item">
      <a class="nav-anchor" routerLink="/exfivetexttransformer"
        >Ex# 5: Text Transformation</a
      >
    </div>
    <div class="flex-nav-item">
      <a class="nav-anchor" routerLink="/exsixcomponentinterations"
        >Ex# 6: Component Interactions</a
      >
    </div>
  </div>
  <div class="flex-content-container">
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </div>
</div>
