mat-expansion-panel {
  margin: 5px;
  border: 3px solid rgb(0, 165, 143);
}

.flex-container {
  height: auto;
  width: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container-border {
  border: 3px solid rgb(0, 165, 143);
  width: 600px;
}

.scrollable-container {
  max-height: 500px;
  overflow-y: scroll;
}

h3,
h4 {
  line-height: 0px;
}

.subHeading {
  text-decoration: underline;
  font-size: 18px;
}

.formatListTag {
  line-height: 2;
}

.flex-body-item-row {
  display: flex;
  justify-content: center;
  .mat-form-field {
    margin-left: 5px;
    margin-top: 10px;
  }
}

.matInputField {
  width: 50%;
}

::ng-deep .mat-tooltip-select {
  font-size: 15px;
  background-color: #b71c1c;
}

.logo-info {
  width: 18px;
  height: 18px;
  padding-left: 10px;
}
