<div class="flex-global-container">
  <div class="flex-global-container-border">
    <div class="flex-global-header-item">
      <mat-label>Text Transformation Types</mat-label>
      <img
        matTooltip="Dashboard that transforms the input string by applying a specific transformation rule."
        matTooltipClass="mat-tooltip-header"
        class="logo-info"
        src="../../../assets/Icons/circle-info-solid.svg"
        alt="information icon"
      />
    </div>
    <div class="flex-global-item-row">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Ex# 5: Text Transformation </mat-panel-title>
          <mat-panel-description> Requirements </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <ul>
            <span class="subHeading">Original Requirement</span>
            <li class="formatListTag">
              <span class="span-bold">Ordinal Pipe:</span> Add the suffix st,
              nd, rd, or th based on the number.
            </li>
            <li class="formatListTag">
              <span class="span-bold">Title Only Case:</span> The first letter
              of each word is a capital letter.
            </li>
            <li class="formatListTag">
              <span class="span-bold">Filter bad words:</span> Censor the bad
              word with the first and the last characters still visible.
            </li>
            <li class="formatListTag">
              <span class="span-bold">Camel case:</span> The first letter of
              each word is a capital letter except for the first word. Please
              note that no spaces between words are allowed in the output.
            </li>
            <li class="formatListTag">
              <span class="span-bold">Reverse a string:</span> Reverse each word
              in a sentence.
            </li>
          </ul>
        </ul>
      </mat-expansion-panel>
    </div>

    <div class="flex-global-item-row">
      <mat-form-field appearance="fill" class="matformfield">
        <mat-label>Text Transformation Options</mat-label>
        <mat-select
          [(ngModel)]="dropDownData"
          (selectionChange)="onSelectionChange()"
        >
          <mat-option
            value="{{ tranformRef.key }}"
            *ngFor="let tranformRef of textTransformCollection | keyvalue"
          >
            {{ tranformRef.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex-global-item-row" [ngSwitch]="dropDownData">
      <div *ngSwitchCase="'ordinal'" class="switchcasecontainer">
        <div class="flex-global-item-row">
          <div class="celldata-left">
            <img
              src="../../../assets/Icons/cloud-bolt-solid.svg"
              class="logo"
              alt="cloud bolt icon"
            />
          </div>
          <div class="celldata-right">
            <mat-form-field
              class="matInputField"
              appearance="fill"
              class="matformfield"
            >
              <mat-label>Please enter a number</mat-label>
              <input
                matInput
                type="text"
                placeholder=""
                [(ngModel)]="inputValue"
                autocomplete="off"
                (keyup)="onKeyUp()"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="flex-global-item-row">
          <mat-label class="transformedoutput">
            Output: {{ outputValue | ttordinalpipe }}
          </mat-label>
        </div>
        <hr />
        <div class="flex-global-item-column">
          <mat-label>Sample input: 1</mat-label>
          <mat-label>Sample output: 1st</mat-label>
        </div>
      </div>
      <div *ngSwitchCase="'titleonlycase'" class="switchcasecontainer">
        <div class="flex-global-item-row">
          <div class="celldata-left">
            <img
              src="../../../assets/Icons/a-solid.svg"
              class="logo"
              alt="A alphabet icon"
            />
          </div>
          <div class="celldata-right">
            <mat-form-field
              class="matInputField"
              appearance="fill"
              class="matformfield"
            >
              <mat-label>Please enter a sentence</mat-label>
              <input
                matInput
                type="text"
                placeholder=""
                [(ngModel)]="inputValue"
                autocomplete="off"
                (keyup)="onKeyUp()"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="flex-global-item-row">
          <mat-label class="transformedoutput">
            Output: {{ outputValue | ttcasechanger: pipeCaseChangerTitleCase }}
          </mat-label>
        </div>
        <hr />
        <div class="flex-global-item-column">
          <mat-label>Sample Input: we are all here</mat-label>
          <mat-label>
            Sample output: <span class="span-bold">W</span>e are
            <span class="span-bold">A</span>ll
            <span class="span-bold">H</span>ere
          </mat-label>
          <mat-label class="label-danger">
            Exception for transformation: are, in, was, to, of, with, the
          </mat-label>
        </div>
      </div>
      <div *ngSwitchCase="'cleanword'" class="switchcasecontainer">
        <div class="flex-global-item-row">
          <div class="celldata-left">
            <img
              src="../../../assets/Icons/ellipsis-solid.svg"
              class="logo"
              alt="Ellipsis icon"
            />
          </div>
          <div class="celldata-right">
            <mat-form-field
              class="matInputField"
              appearance="fill"
              class="matformfield"
            >
              <mat-label>Censored words - badword1 or badword2</mat-label>
              <input
                matInput
                type="text"
                placeholder=""
                [(ngModel)]="inputValue"
                autocomplete="off"
                (keyup)="onKeyUp()"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="flex-global-item-row">
          <mat-label class="transformedoutput">
            Output: {{ outputValue | ttcleanword }}
          </mat-label>
        </div>
        <hr />
        <div class="flex-global-item-column">
          <mat-label>Sample Input: badword1</mat-label>
          <mat-label
            >Sample output: <span class="span-bold">b</span>******<span
              class="span-bold"
              >1</span
            ></mat-label
          >
          <mat-label class="label-danger">
            Bad words are: badword1 and badword2
          </mat-label>
        </div>
      </div>
      <div *ngSwitchCase="'camelcase'" class="switchcasecontainer">
        <div class="flex-global-item-row">
          <div class="celldata-left">
            <img
              src="../../../assets/Icons/mountain-solid.svg"
              class="logo"
              alt="mountain icon"
            />
          </div>
          <div class="celldata-right">
            <mat-form-field
              class="matInputField"
              appearance="fill"
              class="matformfield"
            >
              <mat-label>Please enter a sentence</mat-label>
              <input
                matInput
                type="text"
                placeholder=""
                [(ngModel)]="inputValue"
                autocomplete="off"
                (keyup)="onKeyUp()"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="flex-global-item-row">
          <mat-label class="transformedoutput">
            Output: {{ outputValue | ttcasechanger: pipeCaseChangerCamelCase }}
          </mat-label>
        </div>
        <hr />
        <div class="flex-global-item-column">
          <mat-label>Sample input: world is beautiful</mat-label>
          <mat-label
            >Sample output: world <span class="span-bold">I</span>s<span
              class="span-bold"
              >B</span
            >eautiful</mat-label
          >
          <mat-label class="label-danger">
            Exception for transformation: are, in, was, to, of, with, the
          </mat-label>
        </div>
      </div>
      <div *ngSwitchCase="'reverse'" class="switchcasecontainer">
        <div class="flex-global-item-row">
          <div class="celldata-left">
            <img
              src="../../../assets/Icons/backward-solid.svg"
              class="logo"
              alt="backward icon"
            />
          </div>
          <div class="celldata-right">
            <mat-form-field
              class="matInputField"
              appearance="fill"
              class="matformfield"
            >
              <mat-label>Please enter a sentence</mat-label>
              <input
                matInput
                type="text"
                placeholder=""
                [(ngModel)]="inputValue"
                autocomplete="off"
                (keyup)="onKeyUp()"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="flex-global-item-row">
          <mat-label class="transformedoutput">
            Output: {{ outputValue | ttreversestring }}
          </mat-label>
        </div>
        <hr />
        <div class="flex-global-item-column">
          <mat-label>Sample input:Hello. How are you?</mat-label>
          <mat-label>Sample output:you? are How</mat-label>
        </div>
      </div>
    </div>
  </div>
</div>
