<div class="flex-container">
  <div class="flex-container-border">
    <div class="scrollable-container">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Ex# 4: Mini Project One </mat-panel-title>
          <mat-panel-description> Requirements </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li class="formatListTag">
            <b>March 22, 2022</b>
          </li>
          <ul>
            <span class="subHeading">Original Requirement</span>
            <li class="formatListTag">
              The first component will accept new payments. Data to capture will
              include customer name, price and their card number.
            </li>
            <li class="formatListTag">
              The second component will list the payments details.
            </li>
            <li class="formatListTag">
              Column to be displayed are as follows
              <ol>
                <li>S.No: Dynamic row ID.</li>
                <li>Name: Name of the customer.</li>
                <li>Price: Price paid.</li>
                <li>Card Number: Card number used to make this payment.</li>
                <li>Operations: User can edit or delete this record using edit or delete button.</li>
              </ol>
            </li>
            <li class="formatListTag">
              Payment details must be tracked with the help of a service.
            </li>
          </ul>
        </ul>
        <ul>
          <li class="formatListTag">
            <b>March 24, 2022</b>
          </li>
          <ul>
            <span class="subHeading">Updated Requirement</span>
            <li class="formatListTag">Next</li>
          </ul>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Add a new payment </mat-panel-title>
        </mat-expansion-panel-header>
        <app-mponeaddpayment></app-mponeaddpayment>
      </mat-expansion-panel>
    </div>
    <app-mponelistpayments></app-mponelistpayments>
  </div>
</div>
