<div class="flex-container">
  <div class="flex-container-border">
    <div class="flex-proj-header-item">
      <span>Mini Project - Payment Manager Tool</span>
    </div>
    <div class="scrollable-container">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Ex# 4: Mini Project One </mat-panel-title>
          <mat-panel-description> Requirements </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li class="formatListTag">
            <b>March 22, 2022</b>
          </li>
          <ul>
            <span class="subHeading">Original Requirement</span>
            <li class="formatListTag">
              The first component will accept new payments. Data to capture will
              include customer name, price and their card number.
            </li>
            <li class="formatListTag">
              The second component will list the payments details.
            </li>
            <li class="formatListTag">
              Column to be displayed are as follows
              <ol>
                <li>S.No: Dynamic row ID.</li>
                <li>Name: Name of the customer.</li>
                <li>Price: Price paid.</li>
                <li>Card Number: Card number used to make this payment.</li>
                <li>
                  Operations: User can edit or delete this record using edit or
                  delete button.
                </li>
              </ol>
            </li>
            <li class="formatListTag">
              Payment details must be tracked with the help of a service.
            </li>
            <li class="formatListTag">
              Display the count of the total payments made.
            </li>
          </ul>
        </ul>
        <ul>
          <li class="formatListTag">
            <b>March 24, 2022</b>
          </li>
          <ul>
            <span class="subHeading">Updated Requirement - 1</span>
            <li class="formatListTag">
              Search payment data by the column name using a custom pipe. Price
              column will have to match the exact number but the other columns
              can any match of the search value.
            </li>
            <li class="formatListTag">
              Mask the credit card number on display using a custom pipe.
            </li>
            <li class="formatListTag">
              Display 'Visa' image if the card number starts with 50 or above
              and 'Master' otherwise. Minimum search critiera is 2 digits.
            </li>
          </ul>
        </ul>
        <ul>
          <li class="formatListTag">
            <b>March 25, 2022</b>
          </li>
          <ul>
            <span class="subHeading">Updated Requirement - 2</span>
            <li class="formatListTag">
              Custom Directive - Display hyphen after every 4 digits while
              displaying the card number.
            </li>
            <li class="formatListTag">
              Custom Pipe - While displaying the name column, the first letter
              must always start with capital.
            </li>
          </ul>
        </ul>
        <ul>
          <li class="formatListTag">
            <b>March 28, 2022</b>
          </li>
          <ul>
            <span class="subHeading">Updated Requirement - 3</span>
            <li class="formatListTag">
              Move the search UI controls from 'List Payment' to it's parent
              component. This has to be done using @Input for the 'List Payment'
              to receive the criteria from it's parent.
            </li>
          </ul>
          <li class="formatListTag">
            <b>March 30, 2022</b>
          </li>
          <ul>
            <span class="subHeading">Updated Requirement - 4</span>
            <li class="formatListTag">
              Apply template driven form validations.
            </li>
          </ul>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Add a new payment </mat-panel-title>
        </mat-expansion-panel-header>
        <app-mponeaddpayment></app-mponeaddpayment>
      </mat-expansion-panel>
    </div>
    <div class="flex-body-item-row">
      <!--Todo
        Gopi Sir's comment.
        While applying search for price, all records must still be present until a record has a match 
      -->
      <mat-form-field appearance="fill">
        <mat-label>Search by column</mat-label>
        <mat-select
          [(ngModel)]="dropdownDataFilterCriteria"
          (selectionChange)="onSelectionValueChanged()"
          matTooltip="Price column is an exact match"
          matTooltipClass="select-tooltip-red"
        >
          <mat-option
            value="{{ searchColumn.key }}"
            *ngFor="let searchColumn of searchColumnCollection | keyvalue"
          >
            {{ searchColumn.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="matInputField" appearance="fill">
        <mat-label>Search</mat-label>
        <input
          matInput
          type="text"
          placeholder="Value to search"
          [(ngModel)]="inputSearchValue"
          autocomplete="off"
          (keyup)="onInputSearchKeyUp()"
        />
      </mat-form-field>
    </div>
    <app-mponelistpayments
      [dataFilterCriteria]="dropdownDataFilterCriteria"
      [dataFilterSearchValue]="inputSearchValue"
      [events]="eventSubject.asObservable()"
    ></app-mponelistpayments>
  </div>
</div>
