<div class="flex-body-container">
    <div class="flex-body-container-border">
        <div class="flex-body-header-item">
            <h2>Product Tracker</h2>
        </div>

        <div class="flex-body-item">
            <div class="flex-item-container">
                <h3>Total products in the cart : </h3>
                <div class="displayCardCount">{{itemsInTheCart}}</div>
            </div>
        </div>

        <div class="flex-body-item">
            <h4 style="text-decoration: underline;">Add or remove products</h4>
        </div>
        <div class="flex-body-item">
            <div class="flex-item-container">
                <div class="button" (click)="onAddProductClick()">Add item</div>
                <div class="button" (click)="onRemoveProductClick()">Remove item</div>
            </div>
        </div>
    </div>
</div>