/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Playfair Display SC", serif;
}

.flex-head-container {
    height: 7%; //If - flex-head-container's height is 10% percent, then flex-body-container will be it's remaining which is 90%
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; /*Horizontal alignment*/
    align-items: center; /*Vertical alignment*/
    background-image: linear-gradient(to right bottom, rgb(0, 140, 255), green);
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(1, 76, 138);
}

.flex-head-border {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba($color: #4cadda, $alpha: 0.4);
}

.flex-head-item {
    line-height: 1;
    padding: 2px;
    text-shadow: 2px 2px #947ce4;
}

.flex-nav-container {
    height: 3%; //If - flex-head-container's height is 10% percent, then flex-body-container will be it's remaining which is 90%
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center; /*Vertical alignment*/
    background-image: linear-gradient(to right bottom, rgb(0, 140, 255), rgb(0, 49, 128));
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(1, 76, 138);
}

.flex-nav-border {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
    margin-left: 20px;
}

.flex-nav-item {
    line-height: 1;
    padding: 2px;
    font-weight: bold;
    color: red;
}

.button {
    border: 0;
    font-size: 18px;
    padding: 0 20px;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(4, 108, 192);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    line-height: 2.5;
    color: rgb(255, 255, 255);
    margin: 5px;

    /*
    * How to remove the text selection from the DIV button.
    * Answer - It is with the user select css key
    * https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript
    */
    //
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button:hover {
    background-color: rgba(0, 0, 255, 0.8);
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba($color: #82cdeb, $alpha: 1);
}
