<div class="flex-global-container">
  <div class="flex-global-container-border">
    <div class="flex-global-header-item">
      <mat-label>Product Manager Tool</mat-label>
      <img
        matTooltip="Price column is an exact match"
        matTooltipClass="mat-tooltip-header"
        class="logo-info"
        src="../../../assets/Icons/circle-info-solid.svg"
      />
    </div>
    <div class="flex-global-item-row">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Ex# 6: Component Interactions </mat-panel-title>
          <mat-panel-description> Requirements </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <ul>
            <span class="subHeading">Original Requirement</span>
            <li class="formatListTag">
              Have a list of active products in one component. Let each product
              have a button against it that says - Active
            </li>
            <li class="formatListTag">
              Have a list of inactive products in another component. Let each
              product have a button against it that says - InActive
            </li>
            <li class="formatListTag">
              When an inactive product is clicked, it gets added to the parent
              component as active and vice-versa.
            </li>
          </ul>
        </ul>
      </mat-expansion-panel>
    </div>
    <div class="flex-global-item-column">
      <app-ciactivecproducts></app-ciactivecproducts>
    </div>
  </div>
</div>
